//less a tag
.customatag {
    color: white;
    text-decoration: none;
    animation: ease 0.3s;

    &:hover {
        color: rgb(151, 151, 151);
    }
}

//header
.page-header {
    border: 0;
    margin-bottom: 0;

    .panel.wrapper {
        .panel.header {
            display: flex;

            .header.links {
                margin-left: 0;

                .greet.welcome {
                    line-height: unset;
                    font-size: 14px;
                    font-weight: 500;
                }

                .customer-welcome {
                    li>a {
                        color: #333;
                    }
                }

                .authorization-link {
                    margin: 0;
                    padding: 0;

                    a {
                        color: white;
                        line-height: unset;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }

            .header-left {
                flex: 1;
            }
        }

        // flex: 1;
        background-color: #222;
        border-bottom: 0;
        padding: 0;
        line-height: none;

        .header-pc {
            height: 18px;
            display: flex;
            justify-content: space-between;
            color: white;
            font-size: 14px;
            font-weight: 500;

            a {
                .customatag;
            }

            ul {
                margin: 0;
                padding: 0;
                display: flex;
                list-style: none;

                li {
                    margin: 0;
                }
            }

            .header-info {
                ul {
                    li {
                        margin-right: 26px;
                        position: relative;

                        &::after {
                            content: "";
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background-color: white;
                            position: absolute;
                            right: -15px;
                            top: 50%;
                            .transform(translateY(-50%));
                        }

                        &:last-child {
                            margin-right: 0;

                            &::after {
                                content: none;
                            }
                        }
                    }
                }
            }

            .header-more {
                ul {
                    li {
                        margin-right: 15px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .header-mobile {
            display: none;
            justify-content: space-between;
            color: white;
            font-size: 13px;
            font-weight: 400;

            .item-header {
                display: flex;
                align-items: center;
                height: 36px;

                a {
                    margin-left: 8px;
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .header.content {
        padding: 25px 20px;

        .logo {
            margin: 0;
        }

        //minicart-wrapper
        .minicart-wrapper {
            .block-minicart {
                width: 360px;
                padding: 20px;
                top: 110%;

                .items-total,
                .subtotal {
                    .count {
                        font-weight: 400;
                    }

                    margin: 0;

                    .label {
                        .span:after {
                            content: "123";
                        }
                    }
                }

                .block-content {
                    .actions {
                        margin-top: 20px;

                        .primary {
                            margin: 0;

                            .action.primary {
                                padding: 7.5px;
                            }
                        }

                        .secondary {
                            .action.delete {
                                margin-left: 15px;
                            }

                            margin-bottom: 10px;
                        }
                    }
                }

                //button edit delete
                .product.actions {
                    margin: -30px 0 0 140px;

                    .secondary {
                        .action.deleted {
                            margin-left: 15px;
                        }
                    }
                }

                .minicart-items-wrapper {
                    overflow: unset;
                    padding: 0;
                    margin: 0;
                }

                .minicart-items {
                    .product-item {
                        padding: 20px 0;
                    }
                }
            }

            margin: 19px 0 0 30px;

            //icon cart and quantity number
            .action.showcart {
                .counter.qty {
                    background-color: white;
                    color: #d40000;
                    font-size: 13px;
                    font-family: @font-family__base;
                    padding: 0;
                    margin-left: 8px;

                    .counter-number {
                        text-shadow: none;
                    }

                    .counter-number-mobile {
                        display: none;
                        justify-content: center;
                        align-items: center;
                        width: 18px;
                        height: 18px;
                        background-color: #23ad1c;
                        color: white;
                        border-radius: 50%;
                    }
                }

                &::before,
                &.active::before {
                    font-size: 22px;
                    color: #d30000;
                    content: "\f07a";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                }
            }
        }

        //search input
        .block-search {
            padding-top: 13px;
            width: fit-content;

            .control {
                margin: 0;
                padding: unset;
            }

            input {
                width: 400px;
                border: 2px solid #bbb;

                &::placeholder {
                    color: #999;
                }
            }

            .block-content {
                .minisearch {
                    .action.search {
                        top: 17px;
                        right: 15px;

                        button {
                            font-size: 300px;
                        }
                    }
                }
            }
        }
    }
}

//NAV
// @navigation-level0-item__line-height: normal;
.nav-sections-item-content {
    // position: relative;

    .navigation {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 20px;

        .level0 {
            // position: unset;
            height: 23px;

            >.level-top {
                color: #000;
                line-height: normal;
                margin-right: 40px;
            }

            &:hover {
                >.level-top {
                    color: #d30000;
                }
            }

            &.parent {
                >.level-top {
                    >.ui-menu-icon {
                        display: none;
                    }
                }
            }

            &.active {
                >.level-top {
                    color: #d30000;
                    border: none;
                }
            }

            &.has-active {
                >.level-top {
                    line-height: normal;
                    border: none;
                }
            }

            .submenu {
                left: 0;
                width: 100%;
                height: fit-content;
            }
        }
    }
}
