& when (@media-common =true) {
    //HEADER
    .page-header {
        border: none;
        .panel.wrapper {
            background-color: #3c3b3e;

            .header-pc {
                display: none;
            }

            .header-mobile {
                display: flex;
                justify-content: space-between;
                color: white;
                font-size: 13px;
                font-weight: 400;

                .item-header {
                    display: flex;
                    align-items: center;
                    height: 36px;

                    a {
                        margin-left: 8px;
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
        .header.content {
            height: 114px;
            padding-left: 10px;
            padding-right: 10px;
            //toggle nav
            padding-bottom: 0;
            .nav-toggle {
                left: 10px;
                box-sizing: border-box;
                height: 44px;
                width: 44px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #ededed;

                &::before {
                    font-size: 20px;
                    color: #757575;
                }
            }
            //Logo
            .logo {
                left: 50%;
                height: 45px;
                .transform(translateX(-50%));
                // top: 50%;
                // .transform(translateY(-50%));
            }
            //minicart-wrapper
            .minicart-wrapper {
                //icon cart and quantity number
                margin: 5px 0 0 0;
                .action.showcart {
                    .counter.qty {
                        background-color: transparent;
                        position: absolute;
                        top: -32%;
                        left: 15%;
                        color: #d40000;
                        font-size: 13px;
                        font-family: @font-family__base;
                        padding: 0;
                        margin-left: 8px;
                        .counter-number {
                            display: none;
                        }
                        .counter-number-mobile {
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            width: 18px;
                            height: 18px;
                            background-color: #23ad1c;
                            color: white;
                            border-radius: 50%;
                        }
                    }
                    &::before,
                    &.active::before {
                        font-size: 22px;
                        color: #212121;
                        content: "\f07a";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                    }
                }
            }

            //search
            .block-search {
                width: 100%;
                .block-content {
                    
                    .minisearch {
                        display: flex;
                        width: 100%;
                        .field.search {
                            flex: 1;
                            position: relative;
                            .label {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: 15px;

                                &::before {
                                    margin: 0;
                                    font-size: 16px;
                                    color: #000;
                                }
                            }
                            .control {
                                border: none;
                                input {
                                    border: 2px solid #bbb;
                                    left: unset;
                                    margin: unset;
                                    position: unset;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //NAV
    .sections.nav-sections {
        //total
        .section-items.nav-sections-items {
            //menu title
            .section-item-title.nav-sections-item-title,
            //account title
            .section-item-title.nav-sections-item-title {
                width: 50%;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                padding: 0;
                height: 50px;
                line-height: 50px;

                a {
                    color: #999;
                    text-decoration: none;
                }

                &.active {
                    a {
                        color: #000;
                    }
                }
            }
            //menu list
            .section-item-content.nav-sections-item-content {
                //header menu
                // margin-top: 49px;
                padding: 0;

                //nav
                .navigation {
                    
                }
            }
        }
    }
}
